<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101363512174-978i79v6qoeu8m1pp9gt24u2vkb3dg8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101363512174-978i79v6qoeu8m1pp9gt24u2vkb3dg8e</string>
	<key>API_KEY</key>
	<string>AIzaSyD6uHirlq4xxJ3KSom_5NsqrVKgSzkVZ2w</string>
	<key>GCM_SENDER_ID</key>
	<string>101363512174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.lucas.Brinquedoteca</string>
	<key>PROJECT_ID</key>
	<string>projeto-ios-pos</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-ios-pos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101363512174:ios:32db6c41e15319ddd8477f</string>
</dict>
</plist>